/*头部*/
.top{
	width: 100%;
	height: 1.32rem;
	background-image: url(../img/lq_top.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
/*底部*/
.footer{
	height: 0.99rem;
	width: 100%;
	background: #33ccff;
	position: absolute;
	bottom: 0;
}
.icon li{
	width: 25%;
	float: left;
}
.ficon{
	width: 0.60rem;
	height: 0.61rem;
    margin-top: 0.2rem!important;
    margin-left: 0.65rem;
    line-height: 0.99rem;
    font-size: 0.62rem!important;
    color: #fff;

}
.hb{
    font-size: 0.78rem!important;
}
.checked{
	position: relative;
}
.checked .ficon{
	position: relative;
	z-index:10;
}
.checked::before{
	content: "";
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1.02rem;
	background:#8ebbef;
	box-shadow:0 0 0.2rem 0 rgba(51,51,102,0.3);
}




/*搜索框*//*
.lq_search{
	width: 100%;
	height: 0.69rem;
	background: #fff;
}
.lq_searchkuang{
	
	width: 100%;
	height: 0.56rem;
}
.lq_sleft{
	 width: 0.55rem;
    height: 0.55rem;
    margin-top: 0.1rem;
    float: left;
    position: relative;
    left: 0.8rem;
    z-index: 800;
}

.lq_sleft img{
    width: 0.35rem;
	height: 0.35rem;
} 
input{
	width: 70%;
	height: 0.56rem;
	display: block;
	float: left;
	color: #b3b3b3;
	background: #cccccc;
	border-radius: 0.3rem;
	font-size: 0.24rem;
	border: 0;
	top:0;
	position: relative;
	padding-left: 0.68rem;
}
.lq_sright{
	position: relative;
    right: 0.6rem;

    z-index: 800;
}
.lq_sright img{
   margin-top: 0.1rem;
    width: 0.35rem;
	height: 0.35rem;
} */