/*头部*/
body{
	background: #f4f4f4;
	font-family: "苹方"
}
.top{
	width: 100%;
	height: 1.32rem;
	background-image: url(../img/lq_top.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}


/*搜索框*/
.lq_search{
	width: 100%;
	height: 0.75rem;
	padding-top: 0.03rem;
	position: relative;
}
.lq_searchkuang{
	width: 5.69rem;
	height: 0.66rem;
	background: url(../img/search_lq.png)no-repeat;
	background-size: 100%;
	margin-left: 0.31rem;
	float: left;
	margin-right: 0.09rem
}
input{
	/*width: 5rem;*/
    height: 0.46rem;
    display: block;
    float: left;
    color: #b3b3b3;
    background: #f4f4f4!important;
    border-radius: 0.3rem;
    font-size: 0.24rem;
    border: 0;
    top: 0.08rem;
    position: relative;
    padding-left: 0.68rem;
}
.lq_sx{
	width: 1.4rem;
    height: 0.45rem;
    float: right;
}
 .lqsxb{
 	width: 1.02rem;
 	height: 0.41rem;
 	background: #5bcdfa;
 	border-radius:0.15rem;
 	margin: 0.08rem 0;
 	text-align: center;
 	
 	line-height: 0.41rem;
 }  
.lqsxb a{
	color: #fff!important;
	font-size: 0.23rem;
	text-align: center;
	line-height: 0.41rem;
}
.lq_sleft{
	width: 0.55rem;
    height: 0.55rem;
    margin-top: 0.1rem;
    float: left;
    position: absolute;
    left: 0.45rem;
    z-index: 800;
}
.lq_sright{
	width: 0.55rem;
    height: 0.55rem;
    float: left;
    position: relative;
    right: -1.05rem;
    z-index: 800;
    
}
.shousuo{
	font-size: 0.42rem!important;
}
.huatong{
	font-size: 0.6rem!important;
}
/*搜索列表部分*/
.lq_listsbox{
	width: 100%;
	height: 6.26rem;
	background: #fff;
}
.lq_lists{
	width: 100%;
	height: 5.26rem;
	background: #fff;
}
.lq_listscon{
	height: 0.76rem;
	margin: 0 auto;
    padding-left: 0;
   border-bottom:0.01rem solid #e6e6e6;
    list-style: none;
    box-sizing: border-box;
}
.lq_listscons{
	width: 90%;
	height: 0.76rem;
	margin: 0 auto;
	padding: 0.11rem 0.15rem;
	position: relative;
}
.lq_lists_sleft{
	width: 0.55rem;
    height: 0.55rem;
    float: left;
    position: absolute;
    left: 0.3rem;
    z-index: 800;
}
.lq_list_line{
	position: relative;
    width: 0.66rem;
    height: 0.04rem;
    background: #5bcdfa;
    bottom: -0.65rem;
}
.lq_listmc{
	width: 4.92rem;
	height: 0.76rem;
	float: right;
	color: #727272;
	/*position: absolute;*/
}
.lq_listmc {
    width: 5.92rem;
    height: 0.76rem;
    float: right;
    color: #727272;
   
}
.lq_listmc a{
	width: 5.92rem;
	height: 0.76rem;
	float: right;
	color: #727272;
	line-height: 0.76rem;
	font-size: 0.24rem;
	/*position: absolute;*/
}
.lq_list_search{
	width: 1.19rem;
    height: 0.76rem;
    float: right;
    position: absolute;
    right: 0.3rem;
}
.lq_sxb{
   width: 1.4rem;
    height: 0.41rem;
    background: #5bcdfa;
    border-radius: 0.23rem;
    margin: 0.15rem 0;
    text-align: center;
    line-height: 0.41rem;
}
.lq_sxb a{
	color: #fff;
	font-size: 0.24rem;
	line-height: 0.41rem;
	 text-align: center;
}
.lq_yuyin{
	width: 80%;
	 height: 0.65rem;
	background: #dadada;
	border-radius: 0.19rem;
	margin: 0 auto;
}
.lq_yuyin_hua{
    width: 0.55rem;
    height: 0.65rem;
    z-index: 800;
    float: left;
}
.huatong1{
	font-size: 0.6rem!important;
}
.lq_yuyincon{
	 height: 0.65rem;
	 text-align: center;
	 line-height: 0.75rem;
	 color: #525252;
}
.lq_yuyincon a{
	font-weight:700; 
	 color: #525252;
	  text-align: center;
	 font-size: 0.24rem;
}
