/*头部*/
a{
	color: #fff;
}
body{
	background: #f4f4f4;
	font-family: "苹方"
}
.lq_top{
	width: 100%;
	height: 1.32rem;
	background-image: url(../img/xq_lq.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	margin-bottom: 0.3rem;
}
.lq_top_icon{
	width: 10%;
	height: 100%;
	color: #Fff;
	font-size: 0.3rem;
	float: left;
}
.lq_zuo{
	font-size: 0.58rem!important;
	line-height: 1.32rem;
}

/*底部*/
.footer{
	height: 0.99rem;
	width: 100%;
	background: #33ccff;
	position: absolute;
	bottom: 0;
}
.icon li{
	width: 25%;
	float: left;
}
.ficon{
	width: 0.60rem;
	height: 0.61rem;
    margin-top: 0.2rem!important;
    margin-left: 0.65rem;
    line-height: 0.99rem;
    font-size: 0.62rem!important;
    color: #fff;

}
.hb{
    font-size: 0.78rem!important;
}
.checked{
	position: relative;
}
.checked .ficon{
	position: relative;
	z-index:10;
}
.checked::before{
	content: "";
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1.02rem;
	background:#8ebbef;
	box-shadow:0 0 0.2rem 0 rgba(51,51,102,0.3);
}




/*banner*/
.lq_banner{
	width: 90%;
	height: 4.22rem;
	background: red;
	margin:0 auto; 
	border-radius: 0.2rem;
	margin-bottom: 0.3rem;
}
/*急招部分*/
.lq_jzbf{
	width: 90%;
	height: 3.7rem;
	background:#fff;
	margin:0 auto; 
	box-shadow:0 0 0.2rem 0 rgba(51,51,102,0.3);
	margin-bottom: 0.14rem;
	border-radius: 0.05rem;
}
.lq_jztop{
	width: 100%;
	height: 1.01rem;
	background: url(../img/jz.png)no-repeat;
	background-size: 100%;
	margin-bottom: 0.09rem;
}
.lq_jztop span{
	font-size: 0.62rem;
	color: #fff;
	margin-left: 0.37rem;

}
.lq_jzmiddle{
	width: 100%;
	height: 0.3rem;
	margin-bottom: 0.17rem;
}
.lq_jzmiddle span{
	color: #17a1d8;
	height: 0.3rem;
	margin-left: 0.37rem;
	float: left;
	font-size: 0.28rem;
	font-weight: bold;
}
.xinzi{
	color:#ff3a3a!important;
	float: right!important;
	margin-right: 0.37rem;
}
.lq_jzm2{
	width: 100%;
	height: 0.3rem;
	margin-left: 0.37rem;
	margin-bottom: 0.17rem;
}
.lq_jzm2 span{
	font-size: 0.3rem;
	color:#13131d;
	font-weight: bold;
	
}
.lq_diqu{
	width: 100%;
	height: 0.48rem;
	margin-bottom: 0.1rem;
}
.lq_dizhi{
	height: 100%;
	padding-left: 0.27rem;
}
.lq_dizhi1{
    height: 0.38rem;
    padding-top: 0.05rem;
    float: left;
    margin-right: 0.2rem;
}
.lq_dizhi2{
    height: 0.38rem;
	padding-top: 0.05rem;
	float: left;
}
.lq_ditb{
	width: 0.35rem;
	height: 0.35rem;
	border-radius: 50%;
	background: #3dbff3;
	box-shadow: 0 0.05rem 0.1rem rgba(23, 161, 216,0.5);
	float: left;
}
.lq_jxicon {
	font-size: 0.24rem!important;
	color: #fff;
	text-align: center;
	line-height: 0.35rem;
	padding-top: 0.01rem;
	padding-left: 0.04rem;
	/*margin-top: 0.2rem;*/
}
.lq_jxicon1 {
	font-size: 0.2rem!important;
	color: #fff;
	text-align: center;
	line-height: 0.36rem;
	padding-top: 0.01rem!important;
	padding-left: 0.04rem;
}

.lq_dim{
	width: 85%;
	height: 0.34rem;
	margin-left: 0.5rem;
}
.lq_dim a{
	font-size: 0.23rem;
	color: #575757;
	margin-right: 0.06rem;
}
.lq_jxdu ul{
	width: 90%;
	height: 0.52rem;
	margin: 0 auto;
	margin-bottom: 0.24rem;
}
.lq_jxdu li a{
	font-size: 0.23rem;
	color: #575757;
	float: left;
	margin-right: 0.09rem;

}
 /*职位详情*/
 .lq_zhiwei_xq{
 	width: 90%;
	height: 4.8rem;
	background:#fff;
	margin:0 auto; 
	box-shadow:0 0 0.2rem 0 rgba(51,51,102,0.3);
	margin-bottom: 0.14rem;
	border-radius: 0.03rem;
 }
 .lq_xwnav{
	height: 0.45rem;
	padding-top: 0.13rem;
	background: url(../img/lq_xq1.png)no-repeat;
	background-size: cover;
	margin-bottom: 0.05rem;
}
.lq_zwline{
	width: 90%;
	margin: 0 auto;
	height: 0.07rem;
	background: url(../img/lq_xian.png)no-repeat;
	background-size: 100%;
	margin-bottom: 0.05rem;
}
.lq_xwms{
	width: 90%;
	color: #848487;
	font-family: "苹方";
	margin: 0 auto;
	font-size: 0.22rem;
}
.lqlast{
	margin-bottom: 0.1rem;
}
.lq_m span{
	width: 100%;
	height: 0.65rem;
}
/*技能要求*/
.lq_nk{
	width: 90%;
	height: 1.22rem;
	background:#fff;
	margin:0 auto; 
	box-shadow:0 0 0.2rem 0 rgba(51,51,102,0.3);
	margin-bottom: 0.14rem;
	border-radius: 0.05rem;
}

.lq_nk_top{
	height: 0.45rem;
    padding-top: 0.13rem;
    background: url(../img/lq_jn.png)no-repeat;
    background-size: cover;
}
.lq_jn{
	height: 0.49rem;
	width: 90%;
	margin:0 auto; 
	padding-top: 0.1rem;
	/*background: red;*/
}
.lq_jn li{
	height: 0.3rem;
	width: 0.52rem;
	border: 0.01rem solid #42b5e2;
	border-radius: 0.22rem;
	float: left;
	margin-left: 0.09rem;
	line-height: 0.3rem;
	text-align: center;
}
.lq_jn .lq_jn1{
	height: 0.3rem;
	width: 1rem;
	border: 0.01rem solid #42b5e2;
	border-radius: 0.22rem;
	float: left;
	line-height: 0.3rem;
	margin-left: 0.09rem;
	text-align: center;
}
.lq_jn li a{
	font-size: 0.32rem;
	color: #47474e;

}
/*联系人*/
.lq_lianxi{
	height: 3.44rem;
	width: 90%;
	background:#fff;
	margin:0 auto; 
	box-shadow:0 0 0.2rem 0 rgba(51,51,102,0.3);
	margin-bottom: 0.3rem;
	border-radius: 0.05rem;
}
.lq_lianxi_top{
	height: 0.45rem;
    padding-top: 0.13rem;
    background: url(../img/lq_lianxi.png)no-repeat;
    background-size: cover;
    margin-bottom: 0.14rem;
}
.lq_lxtx{
	height: 1.39rem;
	width: 88%;
	margin: 0.2rem; auto;

}
.lq_lxleft{
	width: 1.12rem;
	height:1.39rem;
	float: left;
	margin-left: 0.12rem;
 }
.lq_role{
	width: 1.02rem;
	height: 1.02rem;
	border-radius: 50%;
	border:2px solid #5ccdfa;
	background: url(../img/role.jpg);
    background-size: cover;
    background-position: center center;   
}
.lq_start{
	height: 0.24rem;
	background: url(../img/lq_start.png);
	background-size: cover;
}
.lq_middle{
	width: 3rem;
	height: 1.39rem;
	float: left;
	padding-left: 0.3rem;
}
.lq_middle h1{
	color: #4b4d62;
	font-size: 0.29rem;
	padding-top: 0.23rem;
}
.lq_lxtx a{
	font-size: 0.23rem;
	color: #808080;
}
.lq_lxright{
	width:1.4rem;
	height: 1.39rem;
	float: left; 
	line-height: 1.9rem;
	text-align: center;
	font-size: 0.23rem;
	position: relative;
	color: #17a1d8;
}
.lq_lxright a{
	color: #17a1d8;
	font-size: 0.23rem;
}

.lq_jt {
	width: 0.13rem;
	height: 0.24rem;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
}
.lq_sxtx{
	width: 90%;
	height: 0.74rem;
	margin: 0 auto;
	line-height: 0.74rem;
	font-size: 0.21rem;
	color: #ebebeb;
}
.lq_sxtx{
	color: #808080;
}
.lq_lxbtn{
	width: 0.76rem;
	height: 0.47rem;
	margin: 0.09rem 0.2rem;
	right: 0.8rem;
	border: 1px solid #e3e3e3;
	border-radius: 0.3rem;
	float: right;
	box-shadow: 0 0.05rem 0.1rem rgba(236, 236, 236,0.5);
}
.lq_neyuan{
	width: 0.35rem;
	height: 0.35rem;
	border-radius: 50%;
	background: #17a1d8;
	float: right;
	margin: 0.07rem 0.04rem;
}
/*底部*/
.lq_xqfooter{
	width: 100%;
	height: 1rem;
	box-shadow: 0 0 0.5rem 0 rgba(49, 219, 244, 0.4);
}
.lq_foot_left{
	width: 50%;
	height: 100%;
	background: #21e1fe;
	float: left;
	text-align: center;
	
}
.lq_foot_right{
	width: 50%;
	height: 100%;
	background: #42c1f3;
	float: left;
	
	text-align: center;
}
.lq_xqfooter a{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 1rem;
}