header{
	width:100%;
	height:0.9rem;
	background-image: url(../img/toper.png);
	background-size: 100%;
	background-position: center;
	text-align: center;
	position: relative;
}
header > span{
	font-size:0.4rem;
	line-height:0.9rem;
	color:#f4f4f4;
	font-weight: bold;
}
header > a{
	position: absolute;
	font-size:0.5rem;
	color:#fff;
	font-family: "宋体";
	font-weight: bold;
	left:0.25rem;
	top:0.15rem;
}
.zn_ltcon{
	position:absolute;
	top:0.9rem;
	left:0;
	right:0;
	bottom:2.1rem;
	background:#f4f4f4;
	padding:0 0.25rem;
	box-sizing: border-box;
}
.zn_mession{
	width:auto;
	height:0.4rem;
	overflow: hidden;
	margin:auto;
	text-align: center;
	line-height:0.4rem;
	color:#282930;
	font-size:0.24rem;
	display: flex;
	justify-content: space-around;
	padding:0 0.6rem;
	box-sizing: border-box;
}
.zn_mession .zn_circle{
	width:1rem;
	height:1px;
	background:#d5daf4;
	margin:0.18rem 0.02rem;
	box-sizing: border-box;
	position:relative;
}
.zn_circle:nth-child(1)::after{
	content:"";
	width:0.07rem;
	height:0.07rem;
	border-radius: 50%;
	background:#d5daf4;
	position:absolute;
	right:-0.03rem;
	top:-0.03rem;
}
.zn_circle:nth-child(3)::before{
	content:"";
	width:0.07rem;
	height:0.07rem;
	border-radius: 50%;
	background:#d5daf4;
	position:absolute;
	left:-0.03rem;
	top:-0.03rem;
}
.zn_mession span:nth-child(2){
	width:auto;
	height:100%;
	line-height:0.4rem;
	color:#282930;
	font-size:0.24rem;
}
.zn_memberbox{
	width:100%;
	height:2.55rem;
	border-radius:0.1rem;
	background:#fff;
	padding:0 0.25rem;
	box-sizing: border-box;
	box-shadow: 0 3px 7px 0 rgba(32,64,77,0.22);
}
.zn_mtop{
	width:100%;
	height:1.95rem;
	border-bottom:1px solid #d5daf4;
	box-sizing: border-box;
}
.zn_mtoptitle{
	width:100%;
	height:auto;
	overflow: hidden;
	line-height:0.4rem;
	padding-top:0.15rem;
}
.zn_mtoptitle > span:nth-child(1){
	float:left;
	font-size:0.24rem;
	font-weight: bold;
	color:#5dd0fe;
}
.zn_mtoptitle > span:nth-child(2){
	float:right;
	font-size:0.24rem;
	color:#fc2946;
}
.zn_mtop > .zn_mtopcon{
	width:100%;
	height:auto;
	font-size:0.24rem;
	color:#282930;
}
.zn_mbottom{
	width:100%;
	height:0.6rem;
}
.zn_mbottom > span{
	width:auto;
	padding:0 0.15rem;
	color:#282930;
}
.zn_mbottom > span:nth-child(2){
	border-right:1px solid #000;
}
.zn_mbottom > img{
	display: inline-block;
	width:0.5rem;
	height:0.5rem;
	margin:0.05rem 0;
	border-radius: 50%;
	vertical-align:-55%;
}
.zn_ltconbox{
	width:100%;
	height:auto;
	overflow: hidden;
	margin-top:0.3rem;
}
.zn_self{
	width:100%;
	height:auto;
	overflow: hidden;
	margin-top:0.3rem;
	position:relative;
}
.zn_self > img{
	position:absolute;
	right:0.05rem;
	top:0.1rem;
	width:1rem;
	height:1rem;
	border-radius: 50%;
	border:1px solid #fff;
	box-shadow: 0 3px 5px 0 rgba(32,64,77,0.48);
}
.zn_self .zn_ltcon2{
	width:5rem;
	height:auto;
	padding:0.2rem;
	border-radius: 0.1rem;
	box-sizing: border-box;
	background:#7ee7ff;
	margin:0.4rem 0.8rem;
	border-right:0.05rem solid #00ff00;
	position:relative;
	color:#383838;
	font-size:0.24rem;
}
.zn_self .zn_sanjiao{
	position:absolute;
	right:-0.25rem;
	top:0.2rem;
	border:0.1rem solid rgba(0,0,0,0);
	border-left:0.1rem solid #00ff00;
	border-radius: 0.01rem;
}
.zn_self .zn_lttime{
	color:#282930;
	font-size:0.24rem;
	position:absolute;
	right:0.3rem;
	bottom:100%;
}
.zn_other{
	width:100%;
	height:auto;
	overflow: hidden;
	margin-top:0.3rem;
	position:relative;
}
.zn_other > img{
	position:absolute;
	left:0;
	top:0;
	width:1rem;
	height:1rem;
	border-radius: 50%;
	border:1px solid #fff;
	box-shadow: 0 3px 5px 0 rgba(32,64,77,0.48);
}
.zn_other .zn_ltcon2{
	width:5rem;
	height:auto;
	padding:0.2rem;
	border-radius: 0.1rem;
	box-sizing: border-box;
	background:#fff;
	margin:0.3rem;
	margin-left:1.2rem;
	border-left:0.05rem solid #3df382;
	position:relative;
}
.zn_ltcon2 img{
	display: inline-block;
	width:1.4rem;
	height:0.4rem;
	vertical-align: -40%;
}
.zn_other .zn_sanjiao{
	position:absolute;
	left:-0.22rem;
	top:0.2rem;
	border:0.1rem solid rgba(0,0,0,0);
	border-right:0.1rem solid #3df382;
	border-radius: 0.01rem;
}
.zn_other .zn_lttime{
	color:#282930;
	font-size:0.24rem;
	position:absolute;
	left:0.3rem;
	bottom:100%;
}
footer{
	width:100%;
	height:2.1rem;
	background:#fff;
	position:fixed;
	left:0;
	bottom:0;
}
.zn_ftop{
	width:100%;
	height:1rem;
	border-bottom:1px solid #cfcfcf;
	padding:0.2rem 0.25rem;
	box-sizing:border-box;
	display: flex;
	justify-content: space-between;
}
.zn_ftop .zn_c{
	width:1rem;
	height:0.58rem;
	background:#5bcdfa;
	text-align:center;
	line-height:0.58rem;
	color:#fff;
	font-size:0.24rem;
	border-radius: 0.1rem;
	position:relative;
	box-shadow: 0 3px 3px 0 #19d5c6;
}
.zn_ftop input{
	width:4.45rem;
	height:0.6rem;
	background:#f4f4f4;
	border-radius: 0.6rem;
	border:0;
}
.zn_ftop .zn_xiao{
	width:0.5rem;
	height:0.5rem;
	border-radius: 50%;
	box-shadow: 0 3px 3px 0 #19d5c6;
}
.zn_xiao > span{
	text-align: center;
	line-height:0.5rem;
	color:#5bcdfa;
	font-size:0.58rem;
	margin-left:-0.04rem;
}
.zn_ftop .zn_addbtn{
	width:0.5rem;
	height:0.5rem;
	border-radius: 50%;
	background:#5bcdfa;
	box-shadow: 0 3px 3px 0 #19d5c6;
}
.zn_addbtn > span{
	color:#fff;
	font-weight: bold;
	font-size:0.3rem;
	text-align: center;
	line-height:0.5rem;
	margin-left:0.1rem;
}
.zn_fbottom{
	width:100%;
	height:1.1rem;
	display: flex;
	justify-content: space-between;
	padding:0.27rem 0.8rem;
	box-sizing: border-box;
}
.zn_fbottom > div{
	width:0.55rem;
	height:0.55rem;
	border-radius: 50%;
	overflow: hidden;
}
.zn_fbottom > div > img{
	display: block;
	width:100%;
	height:100%;
}
