html,body{
	background: #F4F4F4;
}

/*头部*/
.top{
	width: 100%;
	height: 1.32rem;
	line-height: 1.32rem;
	background-image: url(../img/lq_top.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
}
h5{
	font-size: 0.4rem;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
}

.zw-ban{
	width:100%;
	height: 3.48rem;
	margin-top: -0.14rem;
	background: url(../img/zw-ban.png);
	background-size: cover;
	background-position: center center;
	position: relative;
}
.zw-tx{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	right: 50%;
	top: 0.3rem;
	margin-right: -0.75rem;
}
.zw-tx a{
	display: inline-block;
	width: 1.24rem;
	height: 1.24rem;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	right: 50%;
	margin-right: -0.62rem;
	top: 0.13rem;
}
.zw-ban img{
	width: 100%;
	border-radius: 50%;
}
.zw-tx h6{
	color: #fff;
	margin-top: 1.6rem;
	font-size: 0.24rem;
}
.zw-v{
	width: 0.28rem;
	height: 0.28rem;
	text-align: center;
	line-height: 0.28rem;
	border-radius: 50%;
	font-size: 0.12rem;
	color: #fff;
	border: 1px solid #ffba00;
	background: #ff6600;
	float: left;
}
.zw-tx span{
	color: #fff;
	font-size: 0.14rem;
	margin-left: 0.1rem;
}
.zw-gz{
	color: #fff;
	position: absolute;
	right: 0.85rem;
	bottom: 1.05rem;
}
.zw-tap{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0.1rem;
	left: 0;
}
.zw-tap li{
	width: 25%;
	height: auto;
	float: left;
	text-align: center;
}
.zw-tap li a img{
	width: 0.3rem!important;
	height: auto;
	margin: auto;
}
.zw-tap li a p{
	color: #fff;
}

/*面试状态*/
.zw-zt{
	width: 100%;
	padding: 0.2rem 0.2rem;
	box-sizing: border-box;
}
.zw-zt div,.zw-ztitle div{
	width: 0.07rem;
	height: 0.07rem;
	background: #27aee5;
	border-radius: 50%;
	float: left;
	margin-top: 0.15rem;
}
.zw-zt img{
	width: 0.4rem;
	padding: 0 0.1rem;
}
.zw-zt span{
	font-size: 0.3rem;
	color: #000;
}

/*作品*/
.zw-zp{
	width: 7.02rem;
	height: 4.26rem;
	background: #fff;
	margin: 0 auto;
	border-radius: 0.1rem;
	overflow: hidden;
}
.zw-ztitle{
	padding: 0.1rem 0.2rem;
}
.zw-ztitle span{
	font-size: 0.3rem;
	margin-left: 0.1rem;
}
.zw-zpcon{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.zw-zpcon li{
	float: left;
	width: 50%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.zw-zpcon li a img{
	width: 100%;
}
.zw-zpcon li:nth-child(2){
	height: 2.06rem;
	padding: 0 0 0.1rem 0;
	box-sizing: border-box;
}
.zw-zpcon li:first-child{
	padding: 0 0.1rem 0 0;
	box-sizing: border-box;
}
.zw-zpcon li:last-child{
	height: 1.58rem;
}
.zw-mb{
	width: 100%;
	height: 0.4rem;
	color: #fff;
	line-height: 0.4rem;
	padding: 0 0 0 0.1rem;
	box-sizing: border-box;
	background: rgba(41,45,57,0.8);
	position: absolute;
	bottom: 0;
	left: 0;
}
.zw-zpcon li div img{
	width: 1rem;
}
.zw-1{
	width: 3.4rem;
}
.zw-2{
	position: absolute;
	bottom: 0.1rem;
	left: 0;
}
.zw-t{
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	border: 1px solid #fff;
	background: url(../img/zw-tx1.png);
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 0.8rem;
	bottom: 0.05rem;
	z-index: 5;
}
.zw-t1{
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	border: 1px solid #fff;
	background: url(../img/zw-tx.png);
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 0.6rem;
	bottom: 0.05rem;
	z-index: 4;
}
.zw-t2{
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	border: 1px solid #fff;
	background: url(../img/zw-tx2.png);
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 0.4rem;
	bottom: 0.05rem;
	z-index: 3;
}
.zw-t3{
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	border: 1px solid #fff;
	background: url(../img/zw-tx3.png);
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 0.2rem;
	bottom: 0.05rem;
}
/*设置*/
.zw-sz{
	width: 100%;
	height: 0.81rem;
	background: #fff;
	padding: 0 0.2rem;
	box-sizing: border-box;
	line-height: 0.81rem;
}
.zw-sz a{
	font-size: 0.36rem;
	color: #000;
}
.zw-tu{
	width: 0.8rem;
	margin-top: 0.08rem;
	float: left;
	padding: 0 0.2rem 0 0.1rem;
}

/*退出登录*/
.zw-outlog{
	width: 4.68rem;
	height: 0.59rem;
	border-radius: 0.8rem;
	background: url(../img/zw-outlog.png);
	background-position: center center;
	background-size: cover;
	position: absolute;
	bottom: 1.6rem;
	left: 50%;
	margin-left: -2.34rem;
	text-align: center;
	line-height: 0.59rem;
}
.zw-outlog span{
	font-size: 0.36rem;
	color: #FFFFFF;
}

/*底部*/
.footer{
	height: 0.99rem;
	width: 100%;
	background: #33ccff;
	position: absolute;
	bottom: 0;
}
.icon li{
	width: 25%;
	float: left;
}
.ficon{
	width: 0.60rem;
	height: 0.61rem;
    margin-top: 0.2rem!important;
    margin-left: 0.65rem;
    line-height: 0.99rem;
    font-size: 0.62rem!important;
    color: #fff;

}
.hb{
    font-size: 0.78rem!important;
}
.checked{
	position: relative;
}
.checked .ficon{
	position: relative;
	z-index:10;
}
.checked::before{
	content: "";
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1.02rem;
	background:#8ebbef;
	box-shadow:0 0 0.2rem 0 rgba(51,51,102,0.3);
}	