html,body{
	width: 100%;
	height: 100%;
	background-image: url(../img/zw-login.png);
	background-size: cover;
}
.zw-tx{
	width: 2.31rem;
	height: 2.31rem;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	right: 32%;
	top: 4rem;
	margin-right: -0.75rem;
}
.zw-tx a{
	display: inline-block;
	width: 2.04rem;
	height: 2.04rem;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	right: 32%;
	margin-right: -0.62rem;
	top: 0.13rem;
}
.zw-tx img{
	width: 100%;
	border-radius: 50%;
}

form{
	height: 4.5rem;
	position: absolute;
	right: 0;
	top: 6.2rem;
	overflow: hidden;
	padding: 0 0.3rem;
}
form .zw-p{
	margin-top: 1rem;
}
form h6{
	float: left;
	font-size: 0.3rem;
	color: #9e9e9e;
}
.zw-n{
	display: inline-block;
	font-size: 0.24rem;
	margin-left: 0.1rem;
	margin-top: 0.05rem;
	color: #9e9e9e;
}
form input{
	width: 5.11rem;
	outline: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0.01rem solid #919191;
	padding: 0.05rem 0;
	margin-bottom: 0.2rem;
}
.zw-z{
	width: 5.11rem;
	height: auto;
	padding: 0.2rem 0.1rem;
	box-sizing: border-box;	
}
.zw-z a{
	color: #36395b;
}
.zw-z a:last-child{
	float: right;
}
.zw-log{
	width: 4.68rem;
	height: 0.59rem;
	border-radius: 0.8rem;
	background: #9d9d9d;
	text-align: center;
	line-height: 0.59rem;
	font-size: 0.36rem;
	color: #FFFFFF;
	outline: none;
	border: none;
}

.zw-lofs{
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}
.zw-lofs h5{
	color: #2f3548;
	font-size: 0.24rem;
}
.zw-qt img{
	width: 0.6rem;
	padding: 0.4rem 0.2rem 0.5rem 0.2rem;
}
