html,body{
	background: #F4F4F4;
}

/*头部*/
.top{
	width: 100%;
	height: 1.32rem;
	line-height: 1.32rem;
	background-image: url(../img/zwtop.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.back{
	font-size: 0.48rem;
	font-family: "宋体";
	color: #fff;
	position: absolute;
	left: 0.2rem;
	top: 50%;
	margin-top: -0.66rem;
}
h5{
	font-size: 0.4rem;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
}
.zw-tap{
	background: #5CCDFA;
	width: 100%;
	height: 1.05rem;
}
.zw-tap a{
	border: 0.01rem solid #fff;
	border-radius: 0.5rem;
	float: left;
	color: #fff;
	width: 3.2rem;
	height: auto;
	text-align: center;
	padding: 0 0.1rem;
	margin-left: 0.2rem;
	margin-top: 0.135rem;
}
.zw-first{
	background: #fff;
	border-radius: 0.5rem;
}
.zw-first h6,.zw-first span{
	color: #71ACFF;
}
.zw-tap a h6{
	font-size: 0.32rem;
}
.zw-tap a span{
	font-size: 0.28rem;
}

/*内容*/
.zw-content{
	width: 100%;
	height: auto;
	padding: 0 0.2rem;
	box-sizing: border-box;
}
.zw-content li{
	width: 100%;
	height: auto;
	padding: 0.2rem 0.3rem;
	background: #fff;
	margin-top: 0.1rem;
	box-sizing: border-box;
	position: relative;
}
.zw-content li div{
	padding: 0.05rem 0;
	box-sizing: border-box;
}
.zw-content li h4{
	float: left;
	font-size: 0.4rem;	
}
.zw-congratu{
	color: #FF3232;
}
.zw-gx{
	display: inline-block;
	color: #FF3232;
	font-size: 0.28rem;
	margin-top: 0.2rem;
}
.zw-position{
	float: right;
	font-size: 0.3rem;
	margin-top: 0.1rem;
	color: #AFAFAF;
}
.zw-ly span{
	font-size: 0.3rem;
	color: #AFAFAF;
}
.zw-ly > .zw-position{
	margin-top: 0;
}
.zw-c1{
	color: #5D5D5D;
}
.zw-jt{
	font-size: 0.48rem;
	font-family: "宋体";
	position: absolute;
	right: 0.2rem;
	top: 0.5rem;
}
/*底部*/
.footer{
	height: 0.99rem;
	width: 100%;
	background: #33ccff;
	position: absolute;
	bottom: 0;
}
.icon li{
	width: 25%;
	float: left;
}
.ficon{
	width: 0.60rem;
	height: 0.61rem;
    margin-top: 0.2rem!important;
    margin-left: 0.65rem;
    line-height: 0.99rem;
    font-size: 0.62rem!important;
    color: #fff;

}
.hb{
    font-size: 0.78rem!important;
}
.checked{
	position: relative;
}
.checked .ficon{
	position: relative;
	z-index:10;
}
.checked::before{
	content: "";
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1.02rem;
	background:#8ebbef;
	box-shadow:0 0 0.2rem 0 rgba(51,51,102,0.3);
}