html,body{
	background: #F4F4F4;
}

/*头部*/
.top{
	width: 100%;
	height: 1.32rem;
	line-height: 1.32rem;
	background-image: url(../img/zwtop.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.back{
	font-size: 0.48rem;
	font-family: "宋体";
	color: #fff;
	position: absolute;
	left: 0.2rem;
	top: 50%;
	margin-top: -0.66rem;
}
h5{
	font-size: 0.4rem;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
}

/*内容*/
.zw-ms{
	width:100%;
	padding: 0.5rem 0.2rem;
}
.zw-con{
	width: 100%;
	height: auto;
	padding: 0 0.2rem;
	box-sizing: border-box;
}
.zw-c{
	height: 8.2rem;
	background: #fff;
	border-radius: 0.1rem;
	padding: 0.2rem 0.2rem;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}
.zw-d1{
	display: inline-block;
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	background: #CE72FF;
}
.zw-d2{
	margin-left: 0.1rem;
	display: inline-block;
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	background: #71ACFF;
}
.zw-c h6{
	font-size: 0.3rem;
	margin-top: 0.1rem;
}
span{
	font-size: 0.28rem;
}
.zw-c div{
	padding: 0.2rem 0;
	box-sizing: border-box;
}
.zw-c div:first-of-type{
	margin-top: 0.5rem;
}
.zw-bz{
	width: 0.3rem;
	padding: 0 0.2rem;
}
p{
	font-size: 0.28rem;
}
.zw-p{
	margin-top: 0.5rem;
}
.zw-z{
	width: 3rem;
	position: absolute;
	bottom: -0.4rem;
	right: -0.1rem;
}
.zw-m{
	position: absolute;
	right: 0;
	bottom: 0.4rem;
	text-align: right;
}
.zw-m p{
	font-size: 0.28rem;
	padding: 0.1rem 0.2rem;
}
