<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="index.php?d=admin&f=user&a=gaiPass" method="post">
    用户名：<span>{$user}</span><br>
    <input type="hidden" readonly value="{$user}" name="user">
    <label for="">
        请输入原密码：<input type="password"  required name="oldpass"><br>
        请输入新密码：<input type="password"  name="newpass"><br>
        请再次输入密码：<input type="password"  name="newpass1"><br>
    </label>
    <input type="submit" value="提交">
</form>
</body>
</html>