<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    td{
        width:200px;
        height:auto;
        text-align: center;
    }
</style>
<body>
    <table>
        <tr>
            <th>招聘职位</th>
            <th>工作经验</th>
            <th>学历</th>
            <th>薪资</th>
            <th>推荐位</th>
            <th>编辑</th>
        </tr>
        {foreach $result as $v}
        <tr>
            <td>{$v['zhiwei']}</td>
            <td>{$v['jingyan']}</td>
            <td>{$v['xueli']}</td>
            <td>{$v['money']}</td>
            <td>{$v['posid']}</td>
            <td>
                <a href="">删除</a>
                <a href="index.php?d=admin&f=lists&a=edit&id={$v['zid']}">编辑</a>
            </td>
        </tr>
        {/foreach}
    </table>
</body>
</html>