<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    td{
        text-align: center;
        padding:0 40px;
    }
</style>
<body>
    <table>
        <tr>
            <th>HR名字</th>
            <th>公司名</th>
            <th>公司地址</th>
            <th>职位</th>
            <th>联系电话</th>
            <th>通过与否(1通过)</th>
            <th>操作</th>
        </tr>
        {foreach $result as $v}
        <tr>
            <td>{$v['hrname']}</td>
            <td>{$v['cpname']}</td>
            <td>{$v['address']}</td>
            <td>{$v['zhiwei']}</td>
            <td>{$v['phone']}</td>
            <td>{$v['allow']}</td>
            <td>
                <a href="index.php?d=admin&f=quanxian&a=edit&id={$v['uid']}">编辑</a>
            </td>
        </tr>
        {/foreach}
    </table>
</body>
</html>