<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Document</title>
	<link rel="stylesheet" href="css/search_index_lq.css">
	<link rel="stylesheet" href="css/common.css">
	<!-- icon引入 -->
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_jm4hh4yax143rf6r.css">
	<script src="js/common.js"></script>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minmum-scale=1.0,user-scalable=no">
</head>
<body>
	<!-- 头部 -->
<header>
	<div class="top">	
	</div>
</header>
<!-- 搜索框 -->
<div class="lq_search_conter">
	<!-- 搜索部分 -->
	<div class="lq_search">
		<div class="lq_searchkuang">
			<div class="lq_sleft">
				<i class="shousuo iconfont icon-magnifier"></i>
			</div>
			<input type="text" placeholder="请输入搜索内容" style="outline:none">
			<div class="lq_sright">
				<i class="huatong iconfont icon-microphone"></i>
			</div>
		</div>
		<div class="lq_sx">
			<div class="lqsxb">
				<a href="">搜索</a>
			</div>
		</div>
	</div>
	<!-- 浏览界面 -->
<!-- 	<div class="lq_lilan">
		<ul >
			<li class='lq_lilapa'>
				<div class="lq_ligo ">
					<img src="img/dian_lq.png" alt="" class="checked">
					<div class="lq_gosi">
						<a href="">公司</a>
						<p>COMPANY</p>
					</div>
				</div>
			</li> 
			
		</ul>
	</div> -->
</div>

<!-- 搜索列表部分 -->

	
<!-- 语音 -->
<div class="lq_yuyin">
	<div class="lq_yuyin_hua">
		<i class="huatong1 iconfont icon-microphone"></i>
	</div>
	<div class="lq_yuyincon">
		<a href="javascript:;">点击  使用语音搜索</a>
	</div>	
</div>



	


</body>
</html>