<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Document</title>
	<link rel="stylesheet" href="../css/write_lq.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_uiyvne7nsb4holxr.css">
	<script src="../js/common.js"></script>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minmum-scale=1.0,user-scalable=no">
	 <link rel="stylesheet" href="https://at.alicdn.com/t/font_z5scocgxgm2f0f6r.css">
	
	 <link rel="stylesheet" href="https://at.alicdn.com/t/font_jm4hh4yax143rf6r.css" />
</head>
<body>
	<!-- 头部 -->
<header>
	<div class="lq_top">
		<div class="lq_top_icon">
			<a href="">
				<i class="lq_zuo iconfont icon-zuojian"></i>
			</a>
		</div>
		<div class="wirte_lq">
			<span>工作经历</span>
		</div>
	</div>
</header>

<!-- 头像部分 -->
<div class="lq_role">
	<div class="lq_role_yuan">
		<div class="lq_role_small">
			<img src="../img/role_lq.jpg" alt="" />
		</div>
	</div>
	<div class="lq_nichen">
		<a href="javascript:;">王大锤</a>
	</div>
</div>


<!-- 列表内容 -->
<ul >
	<li class="lq_listscon">
		<div class="lq_lists_left">
			<a href="javascript:;">公司名称</a>
		</div>
		<div class="lq_lists_right">
			<input type="text" placeholder="请输入公司名称" style="outline:none">
		</div>
	</li>
	<li class="lq_listscon">
		<div class="lq_lists_left">
			<a href="javascript:;">开始时间</a>
		</div>
		<div class="lq_lists_right">
			<a href="javascript:;">请选择</a>
			<i class="lq_you iconfont  icon-youjian"></i>
		</div>
	</li>
	<li class="lq_listscon">
		<div class="lq_lists_left">
			<a href="javascript:;">结束时间</a>
		</div>
		<div class="lq_lists_right">
			<a href="javascript:;">请选择</a>
			<i class="lq_you iconfont  icon-youjian"></i>
		</div>
	</li>
	<li class="lq_listscon">
		<div class="lq_lists_left">
			<a href="javascript:;">所在行业</a>
		</div>
		<div class="lq_lists_right">
			<a href="javascript:;">请选择</a>
			<i class="lq_you iconfont  icon-youjian"></i>
		</div>
	</li>
	<li class="lq_listscon">
		<div class="lq_lists_left">
			<a href="javascript:;">岗位名称</a>
		</div>
		<div class="lq_lists_right">
			<a href="javascript:;">请选择</a>
			<i class="lq_you iconfont  icon-youjian"></i>
		</div>
	</li>
	<li class="lq_listscon">
		<div class="lq_lists_left">
			<a href="javascript:;">职位薪资</a>
		</div>
		<div class="lq_lists_right">
			<a href="javascript:;">请选择</a>
			<i class="lq_you iconfont  icon-youjian"></i>
		</div>
	</li>
	<li class="lq_listscon">
		<div class="lq_lists_left">
			<a href="javascript:;">工作描述</a>
		</div>
		<div class="lq_lists_right">
			<input type="text" placeholder="请输入工作描述" style="outline:none">
		</div>
	</li>
</ul>

<!--下一步-->
<div class="lq_btn">
	<a href="javascript:;">下一步</a>
</div>
</body>
</html>