<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Title</title>
    <link rel="stylesheet" href="{CSS_PATH}/common.css" />
    <link rel="stylesheet" href="{CSS_PATH}/gonggong.css" />
    <link rel="stylesheet" href="{CSS_PATH}/zn_addzp.css" />

    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2udjus8yyja1c3di.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_7glsnf02qn7e3ik9.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_vpj4xspsibmlsor.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_8aph791rzebqpvi.css">

    <script src="{JS_PATH}/common.js"></script>
    <script src="{JS_PATH}/jquery.js"></script>
    <script src="{JS_PATH}/iscroll.js"></script>
</head>
<body>
    <header>
        <img src="{IMG_PATH}/toper.png" alt="">
        <a href="">&lt;</a>
        <span>
            Mr.DO
        </span>
        <a href="">+</a>
    </header>
    <div class="zn_bgimg">
        <img src="{IMG_PATH}/zn_bgimg.png" alt="">
        <div class="zn_tou">
            <img src="{IMG_PATH}/zn_member1.jpg" alt="">
        </div>
    </div>
    <ul class="zn_zpbox">
        <li class="zn_everyzp">
            <div class="zn_selfinfo">
                <div class="zn_tou">
                    <img src="{IMG_PATH}/zn_member1.jpg" alt="">
                </div>
                <div class="zn_zpinfo">
                    <p>无敌的被窝君</p>
                    <p>2017年7月8日</p>
                </div>
                <a href="">></a>
            </div>
            <p class="zn_des">上传作品</p>
            <div class="zn_zpconbox">
                <img src="{IMG_PATH}/zn_zp1.png" alt="">
            </div>
            <img class="zn_zpbottom"src="{IMG_PATH}/zn_zpbottom.jpg" alt="">
        </li>
        <li class="zn_everyzp">
            <div class="zn_selfinfo">
                <div class="zn_tou">
                    <img src="{IMG_PATH}/zn_member1.jpg" alt="">
                </div>
                <div class="zn_zpinfo">
                    <p>无敌的被窝君</p>
                    <p>2017年7月8日</p>
                </div>
                <a href="">></a>
            </div>
            <p class="zn_des">上传作品</p>
            <div class="zn_zpconbox">
                <img src="{IMG_PATH}/zn_zp1.png" alt="">
            </div>
            <img class="zn_zpbottom"src="{IMG_PATH}/zn_zpbottom.jpg" alt="">
        </li>
    </ul>
</body>
</html>