<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="{CSS_PATH}/common.css" />
	<link rel="stylesheet" href="{CSS_PATH}/gonggong.css" />
	<link rel="stylesheet" href="{CSS_PATH}/zn_zuoping.css" />
	
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_2udjus8yyja1c3di.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_7glsnf02qn7e3ik9.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_vpj4xspsibmlsor.css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_8aph791rzebqpvi.css">
	
	<script src="{JS_PATH}/common.js"></script>
	<script src="{JS_PATH}/mui.min.js"></script>
	<script src="{JS_PATH}/jquery.js"></script>
	<script src="{JS_PATH}/angular.min.js"></script>
	<script src="{JS_PATH}/iscroll.js"></script>
	<script src="{JS_PATH}/zn_zpangular.js"></script>
	<script src="{JS_PATH}/zn_zuoping.js"></script>
</head>
<body ng-app="myapp" ng-controller="zplists">
	<!-- 头部 -->
	<header>
		<div class="top">	
		</div>
	</header>
	<div class="zn_zptitle1">
		<img src="{IMG_PATH}/zn_zptitle1.png" alt="" />
	</div>
	<div class="zn_guanzhu">
		<ul>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
			<li>
				<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
			</li>
		</ul>
	</div>
	<div class="zn_zptitle2">
		<img src="{IMG_PATH}/zn_zptitle2.png" alt="" />
		<div class="zn_more">
			<span>MORE</span>
			<span>&gt;</span>
		</div>
	</div>
	<div class="zn_zpcon">
		<ul>
			<li class="zn_everycon" ng-repeat="item in data track by item.sid" ng-click="listbtn(item.sid)">
				<img src="{IMG_PATH}/zn_zpcon1.png" alt="" />
				<div class="zn_contitle">
					<div class="zn_img">
						<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
					</div>
					<div class="zn_con">
						{literal}
						<span>{{item.stitle}}</span>
						{/literal}
					</div>
					<div class="zn_fenshu">
						<img src="{IMG_PATH}/zn_fenshu.png" alt="" />
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- 底部 -->
	<footer>
		<div class="footer">
			<ul class="icon">
				<li>
					<a href="">
						<i class="ficon iconfont icon-shouye"></i>
					</a>
				</li>
				<li class="checked">
					<a href="">
						<i class="ficon hb iconfont icon-huihuaban"></i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="ficon iconfont icon-xiaoxi1"></i>
					</a>
				</li>
				<li>
					<a href="">
						<i class="ficon iconfont icon-renwutouxiang"></i>
					</a>
				</li>
			</ul>
		</div>
	</footer>
	<div class="zn_hidden" ng-show="show==true">
		<div class="zn_xcon">
			<div class="zn_delbtn" ng-click="remove()">
				<img src="{IMG_PATH}/zn_delbtn.png" alt="" />
			</div>
			<div class="zn_xtop">
				<img src="{IMG_PATH}/zn_zpcon1.png" alt="" />
			</div>
			<div class="zn_xbottom">
				<div class="zn_ximg">
					<img src="{IMG_PATH}/zn_member1.jpg" alt="" />
				</div>
				<div class="zn_xtitle">
					<p class="zn_englishname">TANGMUSI</p>
					{literal}
					<p class="zn_xconti">{{current.stitle}}</p>
					{/literal}
					<p class="zn_chinaname">汤姆斯克鲁斯</p>
				</div>
				<div class="zn_xfenshu">
					<img src="{IMG_PATH}/zn_xing.png" alt="" />
				</div>
				<div class="zn_xdes">
					<span>
						早晨一起床，眼睛不由的向窗外望去，天气的好坏，一眼便知；坐在宿舍，看书累了，不由的向窗外望去。
					</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>