<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="x5-orientation" content="portrait | landscape" />
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true" />
		<meta name="full-screen" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/common.css" />
	    <link rel="stylesheet" type="text/css" href="{CSS_PATH}/zw-yqmscon.css"/>
	    <script src="{JS_PATH}/common.js"></script>
	</head>
	<body>
		<!-- 头部 -->
		<header>
			<div class="top">
				<a href="index.php?d=index&f=ms&a=yq" class="back">&lt;</a>
				<h5>邀请面试</h5>
			</div>
		</header>
		
		<!--内容-->
		<img src="{IMG_PATH}/zw-ms.png" alt="" class="zw-ms"/>
		<div class="zw-con">
			<div class="zw-c">
				<span class="zw-d1"></span><span class="zw-d2"></span>
				<h6>先生您好：</h6>
				<p>我们看到了你的简历，并且对你本人产生了兴趣，特此邀请你来我公司进行面试。</p>
				<div>
					<img src="{IMG_PATH}/zw-p.png" alt="" class="zw-bz"/>
					<span>010-82621188</span>
				</div>
				<div>
					<img src="{IMG_PATH}/zw-t.png" alt="" class="zw-bz"/>
					<span>2017.06.13 9:00-14:00</span>
				</div>
				<div>
					<img src="{IMG_PATH}/zw-d.png" alt="" class="zw-bz"/>
					<span>北京市北四环西路58号百度大厦</span>
				</div>
				<p class="zw-p">请您务必按时参加，谢谢。</p>
				<img src="{IMG_PATH}/zw-z.png" alt="" class="zw-z"/>
				<div class="zw-m">
					<p>百度HR刘先生</p>
					<p>2017.06.01</p>
				</div>
			</div>
			
		</div>
	</body>
</html>
