<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="x5-orientation" content="portrait | landscape" />
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true" />
		<meta name="full-screen" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/common.css" />
	    <link rel="stylesheet" type="text/css" href="{CSS_PATH}/zw-mszt.css"/>
	    <script src="{JS_PATH}/common.js"></script>
	</head>
	<body>
		<!-- 头部 -->
		<header>
			<div class="top">
				<a href="" class="back">&lt;</a>
				<h5>邀请面试</h5>
			</div>
		</header>
		<div class="zw-tap">
			<a href="index.php?d=index&f=ms&a=yq" class="zw-first">
				<h6>面试通知</h6>
				<span>MIANSHITONGZHI</span>
			</a>
			<a href="index.php?d=index&f=ms&a=mszt">
				<h6>面试结果</h6>
				<span>MIANSHIJIEGUO</span>
			</a>
		</div>
		
		<!--内容-->
		<ul class="zw-content">
			<li>
				<div>
					<h4 class="zw-congratu">恭喜您</h4><span class="zw-gx">GONGXI</span>
				</div>
				<div class="zw-ly">
					<span>百度公司邀请您6月13日前往公司面试</span>
				</div>
				<a href="zw-yqmscon.html">
					<span class="zw-jt">&gt;</span>
				</a>
			</li>
			<li>
				<div>
					<h4 class="zw-congratu zw-c1">很遗憾</h4><span class="zw-gx zw-c1">YIHAN</span>
				</div>
				<div class="zw-ly">
					<span>百度公司邀请您6月13日前往公司面试</span>
				</div>
			</li>
		</ul>
	</body>
</html>
