<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="x5-orientation" content="portrait | landscape" />
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true" />
		<meta name="full-screen" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<title></title>
		<link rel="stylesheet" href="css/common.css" />
	    <link rel="stylesheet" type="text/css" href="css/zw-zhuce.css"/>
	    <script src="js/common.js"></script>
	    <script src="js/jquery.js"></script>
	    <script src="js/jquery.validate.js"></script>
	</head>
	<body>
		<div class="zw-tx">
			<a href="">
				<img src="img/zw-tx.png" alt="" />
			</a>
		</div>
		
		<form action="" id="login">
			<p>
				<h6>ACCOUNT</h6><span class="zw-n">NUMBER</span><br>
				<input type="text" name="uname"/>
			</p>
			
			<p>
				<h6>PASS</h6><span class="zw-n">WORD</span><br>
				<input type="password" name="upass" id="password"/>
			</p>
			
			<p>
				<h6>PASS</h6><span class="zw-n">WORD AGAIN</span><br>
				<input type="password" name="upass1"/>
			</p>
			<button class="zw-log">注册</button>
			
		</form>
		
		
		<div class="zw-lofs">
			<h5>其他登录方式</h5>
			<div class="zw-qt">
				<a href="">
					<img src="img/zw-qq.png" alt="" />
				</a>
				<a href="">
					<img src="img/zw-wx.png" alt="" />
				</a>
				<a href="">
					<img src="img/zw-wb.png" alt="" />
				</a>
			</div>
		</div>	
		
	</body>
</html>
<script>
	$(document).ready(function () {
	   	$('#login').validate({
	       	rules: {
	           	uname: {
	               	required: true,
	               	minlength: 6,
	               	maxlength: 16
	           	},
	           	upass: {
	               	required: true,
	               	minlength: 4
	           	},
	           	upass1: {
	               	required: true,
	               	minlength: 4,
	               	equalTo: "#password"
	           	},
	
	       	},
	       	messages: {
	           	uname:  "用户名长度为6-16位",
	           	upass: {
	               	required: "密码错误",
	               	minlength: $.validator.format("密码长度不低于4位")
	           	},
	           	upass1: {
	               	required: "请输入确认密码",
				    minlength: "确认密码长度不低于4位",
				    equalTo: "两次输入密码不一致"
	           	},
	       	},
	       	errorPlacement: function(error, element) {
	           	$('<div id="box">').html(error).css({width:'2.6rem',height:'0.4rem',position:'absolute',left:'2.8rem',}).insertAfter(element);
	           	error.css({'color':'#FF3838',fontSize:'0.24rem',position:'absolute',top:'-0.6rem'})
	       	},
	   	})
	})
</script>
