<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <meta name="x5-orientation" content="portrait | landscape" />
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true" />
		<meta name="full-screen" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/common.css" />
	    <link rel="stylesheet" type="text/css" href="{CSS_PATH}/zw-zhuce.css"/>
	    <script src="{JS_PATH}/common.js"></script>
	    <script src="{JS_PATH}/jquery.js"></script>
	    <script src="{JS_PATH}/jquery.validate.js"></script>
	</head>
	<body>
		<div class="zw-tx">
			<a href="">
				<img src="{IMG_PATH}/zw-tx.png" alt="" />
			</a>
		</div>
		
		<form id="login">
			<p>
				<h6>ACCOUNT</h6><span class="zw-n">NUMBER</span><br>
				<input type="text" name="uname" id="uname"/>
			</p>
			
			<p>
				<h6>PASS</h6><span class="zw-n">WORD</span><br>
				<input type="password" name="upass" id="password"/>
			</p>
			
			<p>
				<h6>PASS</h6><span class="zw-n">WORD AGAIN</span><br>
				<input type="password" name="upass1" id="password1"/>
			</p>
			<button class="zw-log">注册</button>

		</form>
		
		
		<div class="zw-lofs">
			<h5>其他登录方式</h5>
			<div class="zw-qt">
				<a href="">
					<img src="{IMG_PATH}/zw-qq.png" alt="" />
				</a>
				<a href="">
					<img src="{IMG_PATH}/zw-wx.png" alt="" />
				</a>
				<a href="">
					<img src="{IMG_PATH}/zw-wb.png" alt="" />
				</a>
			</div>
		</div>	
		
	</body>
</html>
<script>
	$(document).ready(function () {
	   	$('#login').validate({
	       	rules: {
	           	uname: {
	               	required: true,
	               	minlength: 6,
	               	maxlength: 16
	           	},
	           	upass: {
	               	required: true,
	               	minlength: 4
	           	},
	           	upass1: {
	               	required: true,
	               	minlength: 4,
	               	equalTo: "#password"
	           	},
	
	       	},
	       	messages: {
	           	uname:  "用户名长度为6-16位",
	           	upass: {
	               	required: "密码错误",
	               	minlength: $.validator.format("密码长度不低于4位")
	           	},
	           	upass1: {
	               	required: "请输入确认密码",
				    minlength: "确认密码长度不低于4位",
				    equalTo: "两次输入密码不一致"
	           	},
	       	},

	   	})
	})


    $(".zw-log").click(function(e) {
        e.preventDefault();
        var uname=$("#uname").val();
        var upass=$("#password").val();
        var upass1=$("#password1").val();
        $.ajax({

            url: 'index.php?d=index&f=login&a=reg',
			type:"post",
            data: {
                uname: uname, upass: upass, upass1: upass1
            },
            success: function (e) {
                if (e=='ok'){
                    alert(e);
                    location.href="index.php?d=index&f=info&a=login"
				}else{
                    alert(e);
				}

            }
        })
    })
</script>
